<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sumo Haiku: A demo by Miller Hooks</title>
    <meta name="description" content="Poetry ripped from the web">
    <meta name="author" content="Miller Hooks">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ MEDIA_URL }}css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    {% block extra_head %}{% endblock %}
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="{% url dashboard %}">Sumo Haiku</a>
          <ul class="nav">
            <li class="active"><a href="{% url dashboard %}">Home</a></li>
            <li><a href="{% url stats %}">Form Stats</a></li>
            <li><div id="user_nav" style="float:right; padding-right: 50px;">{% if user.is_authenticated %}<a href="{% url auth_logout %}">Log Out</a>{% else %}<a href="{% url auth_login %}">Log In</a>{% endif %}</div></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">

    {% block main %}{% endblock %}

      <footer>
        <p>&copy; Miller Hooks 2012</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>
